.rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fbfbfb;
    height: 300px;


    .back-end{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .front-end{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    p{
        color: #fbfbfb;
        display: flex;
        align-self: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-align: center;
    }
    h1{
        text-align: center;
        color: #fbfbfb;
    }

}



   // Mobile

   @media (max-width:375px){
    .rodape{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000;
        color: #fbfbfb;
        height: 300px;
    
    
        .back-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .front-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
        }
        p{
            color: #fbfbfb;
            display: flex;
            align-self: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            text-align: center;
        }
        h1{
            text-align: center;
            color: #fbfbfb;
            font-size: 1.5rem;
        }
    
    }

}




    //mobile large
  @media (min-width:376px) and (max-width:599px){
    .rodape{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000;
        color: #fbfbfb;
        height: 300px;
    
    
        .back-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .front-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
        }
        p{
            color: #fbfbfb;
            display: flex;
            align-self: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            text-align: center;
        }
        h1{
            text-align: center;
            color: #fbfbfb;
            font-size: 1.5rem;
        }
    
    }
  }


    
  //tablet

  @media (min-width: 600px) and (max-width:999px){
    .rodape{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000;
        color: #fbfbfb;
        height: 300px;
    
    
        .back-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .front-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
        }
        p{
            color: #fbfbfb;
            display: flex;
            align-self: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            text-align: center;
        }
        h1{
            text-align: center;
            color: #fbfbfb;
        }
    
    }
  }



  // Desktop
  @media (min-width: 1000px) and (max-width:1399px){
    .rodape{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000;
        color: #fbfbfb;
        height: 300px;
    
    
        .back-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .front-end{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
        }
        p{
            color: #fbfbfb;
            display: flex;
            align-self: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            text-align: center;
        }
        h1{
            text-align: center;
            color: #fbfbfb;
        }
    
    }
  }