.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    top: 0px;
    border: 0.824709px solid #000000;
    background: #4169E1;
    .logo{
        width: 200px;
        height: 175px;
        filter: grayscale(100%);
      }
       
    .menu{
      width: 100%;
      background-color: #6495ED;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      font-weight: bolder;
  
      .rotas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        .active {

              color: #fbfbfb; 
              font-weight: bold; 
              text-decoration: none;

    }

            a{
                font-size: 1.9rem;
                margin-right: 10rem;
                color: #000;
                text-decoration: none;
            }
        

      }
      
    }


  }